<acc-accordion>
  <acc-accordion-panel>
    <acc-accordion-header>header</acc-accordion-header>
    <acc-accordion-content>content</acc-accordion-content>
  </acc-accordion-panel>
  <acc-accordion-panel>
    <acc-accordion-header>header</acc-accordion-header>
    <acc-accordion-content>content</acc-accordion-content>
  </acc-accordion-panel>
  <acc-accordion-panel>
    <acc-accordion-header>header</acc-accordion-header>
    <acc-accordion-content>content</acc-accordion-content>
  </acc-accordion-panel>
</acc-accordion>

<router-outlet></router-outlet>
